<template>
    <div>
        <div class="row mb-3" id="add-blog">
            <div class="col-6 offset-6">
                <a href="/blogs/create" class="btn btn-primary">Add</a>
            </div>
        </div>
        <div class="row mb-3" v-for="blog in blogs" v-bind:key="blog.id">
            <div class="col-12">
                <single-blog :blog="blog"></single-blog>
            </div>
        </div>
    </div>
</template>
<script>
import EventBus from './EventBus.vue';
export default {
    data() {
        return {
            blogs: []
        }
    },
    mounted() {
        this.getBlogs();

        EventBus.$on('BLOG_DELETED', (blog) => {
            this.blogs = this.blogs.filter((filteredBlog) => {
                return filteredBlog.id !== blog.id;
            });
        });
    },
    methods: {
        getBlogs() {
            const axios = require('axios');
            axios.get('/get-blogs')
                 .then((response) => {
                     this.blogs = response.data.blogs;
                 })
                 .catch((error) => {
                     console.error(error);
                 });
        }
    }
}
</script>