<template>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title">{{ blog.title }}</h5>
                </div>
                <div class="col text-right blog-stars">
                    <span class="fa fa-star" :class="index <= blog.rating ? 'checked' : ''" :data-value="index++" v-on:click="rateBlog($event)" v-for="index in starCount" :key="index"></span>
                </div>
            </div>
            <p class="card-text">{{ blog.content }}</p>
            <a :href="'/blogs/' + blog.id + '/edit'" class="btn btn-primary">Edit</a>
            <button class="btn btn-danger" v-on:click="deleteBlog()">Delete</button>
        </div>
    </div>
</template>
<script>
import EventBus from './EventBus.vue';
export default {
    props: ['blog'],
    data() {
        return {
            starCount: 5
        }
    },
    mounted() {

    },
    methods: {
        deleteBlog() {
            const axios = require('axios');
            axios.delete('/blogs/' + this.blog.id)
                 .then((response) => {
                     EventBus.$emit('BLOG_DELETED', this.blog)
                 })
                 .catch((error) => {
                     console.error(error);
                 });
        },
        rateBlog(e) {
            const rating = e.target.getAttribute('data-value');
            axios.patch('/blogs/' + this.blog.id + '/rate', {
                rating: rating
            })
            .then((response) => {
                const blogStars = e.target.parentNode;
                const stars = blogStars.querySelectorAll('.fa-star');
                stars.forEach((star, index) => {
                    star.classList.remove('checked');
                });
                for (let i = 1; i <= rating; i++) {
                    stars.forEach((star, index) => {
                        if (star.getAttribute('data-value') <= rating) {
                            star.classList.add('checked');
                        }
                    });
                }
            })
            .catch((error) => {
                console.error(error);
            });
        }
    }
}
</script>